@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

H1 {
    text-align: center;
}

.center{
    text-align: center;
}
